.nav-div {
    background-color: #fff;
    width: 103%;
    margin-left: -15px
}

.container-div-all {
    background-color: #f2f3f8;
    min-height: 850px;
}

.container-div {
    width: 103%
}

.img-icon {
    width: 250px;
    height: 160px
}

.container-inside-div {
    background-color: #fff;
    height: auto;
    margin-top: 25px;
    min-height: 500px;
    max-height: 625px;
    overflow-y: auto;
}

.title-div {
    margin: 20px 10px 10px 30px;
    font-size: 25px
}

.active {
    background-color: #9a41ad
}

body {
    font-family: Lato, sans-serif
}

.sidenav {
    height: 100%;
    width: 24%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C991C2;
    overflow-x: hidden;
    padding-top: 20px
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block
}

.sidenav a:hover {
    color: #f1f1f1
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}



.gificon{
    width: 300px;
}
.register-btn{
    text-align: center;
}
.sys-icon{
    width: 170px;
}
.gif{
    height: 150px;
}
.gifList{
    margin: 10px 10px 20px 10px;
}
.card-title{
    height: 40px;
}
.card-text{
    height: 60px;
}
.card-div{
    margin-bottom: 20px;
}


.pagination-btn{
    width: 10px;
    height: 10px;
}

.gifdiv{
    margin-top: 40px;
}



#header{
    position: sticky;
}
.HowItWorks {
    background-color: #fff;
    height: 1000px;
    border-top: 1px solid
}


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.panel{
    width: 100%;
    font-size: 16px;
}
.form-control, .btn-filter{
    font-size: 16px;
}

.table-div{
    background-color: #fffbfb;
    padding: 20px 10px 20px 10px;
    border: 1px solid #00000042;
    border-radius: 10px 10px 10px 10px;
}

.more-details{
    font-size: 14px;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 100%;
}

.user-div{
    display: flex;
}

.user-title{
    margin: 10px 10px 10px 10px;
}


.logout-btn{
    padding: 10px 10px 10px 10px;
    border: none;
    background: none;
}




.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #fff !important;
    padding: 2rem;
}

.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}

input {
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    border: none;
}
h2 {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
}
.btn {
    border-radius: 0.2rem;
}
.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}
.full-width {
    background-color: #8eb5e2;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.container-div-all{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.login-body{
    background-color: #94949421;
}

.login-btn{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border: none;
    background-color: #4c5fffa3;
}


.input-box{
    width: 50%;
}